{
    "extends": ["eslint:recommended", "prettier"],
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": "error"
    },
    "plugins": ["prettier"],
    "settings": {
        "import/resolver": {
            "alias": [
                ["~components", "./src/components"],
                ["~templates", "./src/components/templates"],
                ["~utilities", "./src/utils"]
            ]
        }
    }
}
